@*data: {desc, error}*@
<script type="text/html" id="error">
    <!--ko if: $data.error() -->
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" aria-label="Close" data-bind="on.click: error(null)"><span aria-hidden="true">&times;</span></button>
        <p data-bind="text: desc"></p>
        <p data-bind="text: JSON.stringify(error())"></p>
    </div>
    <!--/ko-->    
</script>